{
  "plugins": [
    [
      "styled-components",
      {
        "ssr": true,
        "displayName": true,
        "preprocess": false
      }
    ],
    "emotion"
  ],
  "presets": ["next/babel"]
}
